---
import Layout from '../layouts/Layout.astro';
import TranslateComponent from '../components/TranslateComponent';
---

<Layout title="dolphin.cool">
	<main>
		<h1>✨ dolphinspeak ✨</h1>
		<TranslateComponent client:load />
		<div class="divider">✨✨✨</div>
		<footer>
			<a href="https://github.com/orgs/dolphin-zone/repositories" target="_blank" rel="noopener noreferrer">GitHub</a>
			<a href="https://dexscreener.com/base/0x00dde4d2f08497bcec6f5e0666f63e14b3a1dab9" target="_blank" rel="noopener noreferrer">DexScreener</a>
			<a href="https://basescan.org/address/0x00dde4d2f08497bcec6f5e0666f63e14b3a1dab9" target="_blank" rel="noopener noreferrer">BaseScan</a>
			<a href="https://warpcast.com/~/channel/dolphin-zone" target="_blank" rel="noopener noreferrer">Warpcast</a>
			<a href="https://anondolphin.net" target="_blank" rel="noopener noreferrer">anondolphin.net</a>
		</footer>
		<footer class="small">
			<p>$EEeEeEEEE: 0x00ddE4d2F08497bcEC6F5E0666F63e14B3a1Dab9</p>
			<p>🐬</p>
			<p>2024 No rights reserved</p>
		</footer>
	</main>
</Layout>