---
import Layout from '../layouts/Layout.astro';
import TranslateComponent from '../components/TranslateComponent';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>✨ dolphin.cool ✨</h1>
		<TranslateComponent client:load />
		<div class="divider">🐬🐬🐬🐬🐬</div>
		<footer>
			<a href="https://github.com/orgs/dolphin-zone/repositories" target="_blank" rel="noopener noreferrer">GitHub</a>
			<a href="https://dexscreener.com/base/0x00dde4d2f08497bcec6f5e0666f63e14b3a1dab9" target="_blank" rel="noopener noreferrer">DexScreener</a>
			<a href="https://basescan.org/address/0x00dde4d2f08497bcec6f5e0666f63e14b3a1dab9" target="_blank" rel="noopener noreferrer">BaseScan</a>
			<a href="https://warpcast.com/~/channel/dolphin-zone" target="_blank" rel="noopener noreferrer">Warpcast</a>
			<a href="https://warpcast.com/anondolphin" target="_blank" rel="noopener noreferrer">@anondolphin</a>
		</footer>
		<footer class="small">
			$EEeEeEEEE: 0x00ddE4d2F08497bcEC6F5E0666F63e14B3a1Dab9
		</footer>
	</main>
</Layout>

<style>
	:root {
		--color-foreground: #111;
		--color-background: #0CC;
		--color-primary: #069;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-foreground: #eee;
			--color-background: #036;
			--color-primary: #39c;
		}
	}

	html {
		background: var(--color-background);
		color: var(--color-foreground);
		box-sizing: border-box;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		text-align: center;
	}

	.divider {
		text-align: center;
		font-size: 1.5em;
		margin: 2em 0;
	}

	.small {
		font-size: 0.75em;
		opacity: 0.5;
	}

	footer {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin: 2em 0;
	}

	a {
		color: currentColor;
		&:hover {
			color: var(--color-primary);
		}
	}
</style>
