---
import Layout from "../layouts/Layout.astro";
import TranslateComponent from "../components/TranslateComponent";
---

<Layout title="dolphin.cool">
  <main>
    <h1>✨ dolphinspeak ✨</h1>
    <TranslateComponent client:load />
    <footer>
      <a
        href="//github.com/orgs/dolphin-zone/repositories"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >
      <span>2025 No rights reserved</span>
    </footer>
  </main>
</Layout>
